<!DOCTYPE html>
<html>
<head>
    <title>{{ movie.title }} | Movie Details</title>
    <meta name="description" content="Learn more about {{ movie.title }}. Read the synopsis, view recommendations, and explore similar movies. Powered by Django and TMDb API.">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="movie-details">
		<h1>{{ movie.title }}</h1>
		<img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}">
		<p>{{ movie.overview }}</p>
	</div>

	<h2>Recommendations</h2>
	<div class="grid-container">
		{% for rec in recommendations %}
			<div class="grid-item">
				<a href="{% url 'movie_detail' rec.id %}">
					<img src="https://image.tmdb.org/t/p/w500{{ rec.poster_path }}" alt="{{ rec.title }}">
					<p>{{ rec.title }}</p>
				</a>
			</div>
		{% endfor %}
	</div>
</body>
</html>